.stem-bodhi-mylocation{
	position: absolute;
	border-radius: 5px;
	background-color: #ccc;
	background-color: rgba(0,0,0,0.2);
}

.stem-bodhi-mylocation.onCenter {
	background-color: #000;
}

.stem-bodhi-mylocation .placeholder {
	padding: 2px;
	width: 30px;
	height: 30px;
	background-color: #666;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-image: url("images/locate.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.stem-bodhi-mylocation .placeholder.locating{
	background-image: url("images/loading.gif");
}

.stem-bodhi-mylocation .placeholder.tracking{
	background-image: url("images/stop.png") !important;
}

.stem-bodhi-mylocation .placeholder{
  background-color: rgba(0,0,0,0);
}

.stem-bodhi-mylocation.onLocate .placeholder{
	background-color: rgba(0,0,0,0.4);
}

.stem-bodhi-mylocation.onCenter .placeholder{
	background-color: #000;
}

.stem-bodhi-mylocation .placeholder:hover{
  background-color: rgba(0,0,0,0.4);
}